/*General-styling*/

body{
	background-color: #fff;
} 
section{
	padding-left: 60px; 
}
ul{
	list-style: none;
}
li{
	padding: 0;
	margin: 0;
}
nav{
	background-color: transparent;
}
.scrolled{
	background-color: #FFFFFF;
}
.scrolled .nav-link{
	color: #000;
}
p{
	color: #555555;
	font-size: 17px;
	font-weight: 400;
	line-height: 28px;
	font-family: 'Roboto', sans-serif;
}
#header-section{
	font-size: 35px;
	color: #083E9E; 
	font-weight: 700;
	line-height: 40px;
	font-family: 'Roboto', sans-serif;
	padding-top: 100px;
}
h1{
	font-size: 30px;
	color: #083E9E; 
	font-weight: 700;
	line-height: 40px;
	font-family: 'Roboto', sans-serif;
}
h4{
	font-size: 20px;
	color: #083E9E; 
	font-weight: 400;
	line-height: 30px;
	font-family: 'Roboto', sans-serif;
}

/*collapse button styles*/
.animated-icon3 {
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.animated-icon3 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.animated-icon3 span {
	background: #083E9E;
}
.animated-icon3 span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
	top: 10px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
	top: 20px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 0px;
	left: 8px;
}

.animated-icon3.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 21px;
	left: 8px;
}

/*Navbar styles*/
.nav-link{
	color: #FFFFFF;
	font-weight: 550;
	font-size: 14px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
}

.nav-link:hover{
		color: #083E9E;
		background-color: #FFFFFF;
}

#current{
	color: #083E9E;
}

#nav-btn{
	color: #FFFFFF;
	border: none;
	background-color: #083E9E; 
	font-weight: 550;
	padding: 10px 10px;
	border-radius: 4px;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
}

#nav-btn:hover{
	color: #FFFFFF;
	background-color: #555555;
}

.dropdown-item:hover{
	color: #083E9E;
	background-color: #fff;
}
/*Hero section styles*/
#hero{
	background-image: url('./img/bronchure.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 150px;
	padding-bottom: 50px;
	margin-top: -90px;
}

#hero-title{
	font-size: 50px;
	color: #FFFFFF; 
	font-weight: 700;
	line-height: 60px;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;
}

#hero p{
	color: #555555;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 35px;
	width: 70%;
	font-family: 'Roboto', sans-serif;
}

#hero-btn{
	padding: 20px 50px;
	background-color: transparent;
	border: 2px solid #FFFFFF;
	border-radius: 7px;
	color: #FFF;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
}

#hero-btn:hover{
	color: #083E9E;
	border:1.2px solid #083E9E;
	background-color: #FFF; 
}

/*media section styles*/
#media-header{
	color: #083E9E; 
	font-size: 24px;
	font-weight: 700;
	line-height: 35px;
	font-family: 'Roboto', sans-serif;
}

#media-section{
	background-color: #FBFBFB;
	padding: 45px;
}
#media-cover{
	width: 80%;
}
#media-section p{
	color: #555555;
	font-size: 17px;
	font-weight: 400;
	line-height: 28px;
	font-family: 'Roboto', sans-serif;	
}

/*card sections styles*/
.services .icon-box {
  text-align: center;
  min-height: 350px;
  padding: 80px 20px;
  background-color: #FFFFFF;
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}
.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

#section-each{
	margin-top: 70px;
}

/*logo customizing*/
#logo{
	padding-left: 50px;
	height: 60px;
}
#footer-logo{
	height: 40px
}
#footer-logo-text{
	text-decoration: none;
	font-size: 20px;
	color: #083E9E;
}
/*featured sections styles*/
#featured p{
	font-size: 18px;
	font-weight: 400;
	line-height: 35px;
	font-family: 'Roboto', sans-serif;
}

.img-feature{
	border-radius: 30px;
	height: 340px;
}
#header-feature{
	font-size: 35px;
	color: #083E9E; 
	font-weight: 700;
	line-height: 40px;
	font-family: 'Roboto', sans-serif;
}
#featured-btn{
	background-color: #30C57B;
	border-radius: 5px;
	color: #FFF;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
}
#featured-btn:hover{
	color: #083E9E;
	border:1.2px solid #083E9E;
	background-color: #FFF;
}

/*conclusion section styles*/
#conclusion{
	padding-bottom: 100px;
	border-bottom: 0.5px ridge #A795CC;
}
#conclusion p{
	width: 80%;
	margin: 0px auto;
}
#Conclusion-btn{
	padding: 20px 50px;
	background-color: #083E9E;
	border-radius: 5px;
	color: #FFF;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
}

/*footer section styles*/
#footer-section{
	padding-top: 50px;
}
#footer-section a{
	font-size: 14px;
	color: #555555;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

#footer-section a:hover{
	color: #083E9E;
}

#footer-section h3{
	font-size: 20px;
	color: #555555;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

/*ABOUT PAGE*/

#about-hero-title{
	padding: 80px 0px;
}

#about{
	background-color: #FFF;
	width: 100%;
	padding-left: 70px;
}
#border-section{
	padding-bottom: 100px;
	border-bottom: 0.5px ridge #A795CC;
}
/*contact us*/

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  min-width: 320px;
  position: relative;
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #083E9E;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #555555;
}

:-moz-placeholder {
  color: #555555;
}

::-moz-placeholder {
  color: #555555;
}

:-ms-input-placeholder {
  color: #555555;
}

#span{
	font-size: 16px;
	color: #555555; 
	font-weight: lighter;
	line-height: 30px;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 30px;
}

#icon{
	font-size: 25px;
	color: #083E9E;
}

#title{
	width: 60%;
	margin: 0px auto;
	text-align: center;
	margin-bottom: 50px;
}
#carouselExampleIndicators{
	color: #083E9E;
}
/*Partners page*/
.partners .icon-box {
  text-align: center;
  border: 1px solid #ebebeb;
  min-height: 250px;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}
.partners .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.partners .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.partners .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}
/*media queries section*/
@media only screen and (max-width: 841px) {
	section{
		padding: 0px;
	}
	.nav-link{
		color: #000000;
	}
	nav{
		background-color: #FFFFFF;
	}
	#hero{
		margin-top: 0px;
	}
	#logo{
		padding-left: 20px; 
	}
	p{
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
	}
	#hero{
		background-size: cover;
		background-repeat: no-repeat;
		text-align: center;
		padding-top: 70px;
	}	
	#hero-title{
		font-size: 30px; 
		font-weight: 500;
		line-height: 40px;
		text-align: center;
		margin-bottom: 10px;
	}
	#hero p{
		color: #FFFFFF;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		font-family: 'Roboto', sans-serif;
	}
	#media-header{
		font-size: 18px;
	}
	#media-cover{
		width: 100%;
	}
	.media-image{
		margin-right: 0px;
		height: 100px;
	}
	#media-section{
		padding: 10px;
	}
	#media-section p{
		font-size: 11px;
		line-height: 20px;
	}
	#featured{
		text-align: center;
	}
	#featured img{
		height: 250px;
	}
	#featured p{
		font-size: 14px;
		line-height: 20px;
	}
	#header-feature{
		font-size: 25px;
	}
	#header-section{
		font-size: 20px;
		color: #083E9E; 
		line-height: 28px;
		padding-top: 100px;
	}
	#conclusion{
		padding-left: 20px;
		padding-right: 20px;
	}
	#conclusion p{
		color: #555555;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;	
	}
	#footer-section li{
		font-size: 11px;
		text-align: center;
	}
	#footer-section h3{
		padding-left: 30px;
	}
	#footer-section main{
		text-align: left;
	}
	#footer-section p{
		font-size: 12px;
		text-align: center;
	}
	#footer-logo{
		padding-left: 60px;
	}
	.footer-icons{
		padding-left: 16px;
	}
	#about-image{
		height: 200px;
		padding-left: 100px;
	}
	#about-hero-title{
		padding: 80px 0px;
	}
	#about{
		padding: 0px;
	}
	#sec1{
		text-align: center;
	}
	#contact{
  		margin-top: 20px;
	}
	#title{
		width: 100%;
		margin: 0px;
		text-align: center;
		margin-bottom: 30px;
	}
}

@media only screen and (min-width: 842px) and (max-width: 1218px){
	#media-header{
		font-size: 18px;
	}
	#logo{
		padding-left: 50px; 
	}
	.media-image{
		margin-right: 10px;
	}
	#media-cover{
		width: 100%;
	}
	#media-section p{
		font-size: 14px;
		line-height: 20px;
	}
	
	#featured{
		text-align: center;
	}
	#featured p{
		font-size: 14px;
		line-height: 20px;
	}
	#header-feature{
		font-size: 20px;
	}
	#header-section{
		font-size: 20px;
		color: #083E9E; 
		line-height: 28px;
		padding-top: 100px;
	}
	#conclusion{
		padding-left: 20px;
		padding-right: 20px;
	}
	#conclusion p{
		color: #555555;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;	
	}
	#footer-section a{
		font-size: 12px;
	}
	#footer-section p{
		font-size: 12px;
	}
	#footer-section main{
		text-align: left;
	}
	#title{
		width: 60%;
		margin: 0px auto;
		text-align: center;
		margin-bottom: 50px;
	}
	#carouselExampleIndicators{
		display: block;
	}
}

@media only screen and (width: 768px){
	#hero{
		background-image: url('./img/bronchure.png');
		background-size: cover !important;
		background-repeat: no-repeat;
	}
	.footer-icons{
		padding-left: 120px;
	}
	#footer-logo{
		padding-left: 240px;
	}
	#about-image{
		height: 230px;
	}
	#title{
		width: 60%;
		margin: 0px auto;
		text-align: center;
		margin-bottom: 50px;
	}
	#carouselExampleIndicators{
		display: none;
	}
}
@media only screen and (min-width: 1219px){
	.navbar .nav-item .dropdown-menu{ 
	opacity: 0;  
	visibility: hidden; 
	transition:.3s; 
	margin-top:0;
	border: none;
	border-radius: 0px;  
	}
	.navbar .dropdown-menu .fade-down{ 
		top:80%; 
		transform: rotateX(-75deg); 
		transform-origin: 0% 0%; 
	}
	.navbar .dropdown-menu .fade-up{ 
		top:180%; 
	}
	.navbar .nav-item:hover .dropdown-menu{ 
		display: block;
		transition: .3s; 
		opacity:1; 
		visibility:visible; 
		top:100%; 
		transform: rotateX(0deg); 
	}
}